*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    display: grid;
    gap: 1px;
    margin: 10px;
    color: white;
}

header{
    background-color: blue;
    height: 50px;
}

main{
    display: grid;
    grid-template-columns: 1fr 3fr;
    height: 50vh;
    gap: 1px;
}

section{
    background-color: red;
}

aside{
    background-color: green;
}

footer{
    background-color: rebeccapurple;
    height: 50px;
}

